{% extends 'base.html' %}

{% block content %}
<h1>Spotkania</h1>

<h2>Miejsce spotkań</h2>

<p>Artefact Cafe<br/>
ul. Dajwór 3<br/>
31-506 Kraków</p>

<p>Muzeum Sztuki i Techniki Japońskiej manggha<br/>
ul. Marii Konopnickiej 26<br/>
30-302 Kraków</p>

<h2>Krakowski Pokój na KGS</h2>

<p>W Krakowskim Pokoju można znaleźć się wybierając kolejno:<br/>
Pokoje -> Lista Pokoi -> Klubowe -> Krakowski Klub Go
(Rooms -> Room List -> Clubs -> Krakowski Klub Go)<br/>
Na kgsie informacji chętnie udzielą: kobuz, wilczasty, pawel.</p>

<h2>Adres e-mail</h2>

<p>krakow (at) go.art.pl</p>
{% endblock content %}
