{% extends "base.html" %}

{% block content %}
<h1>O klubie</h1>

<p>Krakowski Klub Go ma długą historię. Od niepamiętnych czasów gracze spotykali się w Muzeum Sztuki i Techniki Japońskiej manggha. Przez długi czas żyliśmy w symbiozie z tą uroczą kawiarnią z widokiem na Wawel, stanowiąc swojego rodzaju atrakcję dla jej klientów. W końcu Go jest ściśle związane z kulturą Japonii.</p>

<p>Jesienią 2006 roku klub przeniósł się na ulicę Krowoderską 8, do siedziby YMCA Kraków. Tam spędziliśmy zimę, by na wiosnę ponownie zmienić lokalizację na bardziej dogodną – Wydział Fizyki i Informatyki Stosowanej AGH. Tam również zbyt długo klub nie zagrzał miejsca. Ciągle poszukując dogodnej lokalizacji trafiliśmy na Stowarzyszenie u Siemachy i zaczęliśmy grywać w jednej z jego krakowskich siedzib – Młodzieżowym Klubie Umiejętności PROGRESS. Jesienią 2007 roku ta siedziba Siemachy dopiero powstawała. Sekcją Go była jedną z pierwszych jaka tam zaistniały. Z nami dołączyli ludzie tworzący sekcje graffiti, breakdance'a, karate, muay tai, miłośników gier bitewnych, muzyki.</p>

<p>Co nas zatrzymało u Siemachy? Przede wszystkim własna salka z miejscem na sprzęt, gdzie można grać do woli. Stoły do piłkarzyków, bilarda i ping ponga dla osób, które mają chęć na odmianę. Zawsze dostępny kącik kuchenny, gdzie można poczęstować się kawą i herbatą. A wszystko w ogólnej atmosferze życzliwości i uśmiechu. Wreszcie znaleźliśmy miejsce, które okazało się strzałem w dziesiątkę.</p>

<p>Jesień 2009 przyniosła zmiany. Krakowski Klub Go powrócił do organizowania co tygodniowych, sobotnich spotkań w Muzeum Sztuki i Techniki Japońskiej manggha.</p>

<p>Teraz dodatkowo spotykamy sie również w Artefact Cafe. Serdecznie zapraszamy!</p>
{% endblock content %}
