{% extends "base.html" %}

{% block content %}
<h1>Witamy na stronie Krakowskiego Klubu Go!</h1>

<h2>Spotkania</h2>
<p>
    Spotkania odbywają się we środy od godziny 17 przy ulicy Dajwór 3 - w Artefact Cafe oraz w soboty od 15 do 18 na ulicy Konopnickiej 26 - w Muzeum Sztuki i Techniki Japońskiej manggha.
</p>

<h2>Zapraszamy serdecznie wszystkich!</h2>
<p>
    Każdy znajdzie coś dla siebie. Spragnieni gier - przeciwników.
    Ciekawi czym jest Go poznają zasady i historię gry.
    Dodatkowo można będzie napić się gorącej herbaty, spróbować
    sushi i dowiedzieć się czegoś o japońskiej kulturze, sztuce i obyczajach.
    Jeśli więc chcesz pośmiać się, pogadać i spędzić interesująco czas - zapraszamy!
</p>
{% endblock content %}
